header h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center;
}
nav li{
    display: inline;
    font-size: 25px;
    padding: 20px;
}
/* main-page*/

.display-the-fact {
    padding: 25px;
}
#fun-fact-btn {
    position: relative;
    left: 25%;
}

.pet-box-size {
    max-width: 400px;
    max-height: 400px;
    justify-self: center;
}
.pet-container {
    /* border: solid 2px limegreen; */
    max-width: 405px;
    max-height: 405px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* background-image: linear-gradient(45deg, rgba(128, 224, 125, 0.473),rgba(0, 128, 0, 0.384), rgba(136, 197, 144, 0.336)); */
}


/* modal CSS */

.modal {
    display: none;
    position: fixed;
    z-index: 1; /* sit on top */
    width: 35%;
    height: auto;
    padding: 50px;
    background-color: rgb(223, 203, 201);
}

#close {
    color: black;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

#generate {
    background-color: rgb(176, 207, 236);
    padding: 5px;
    border: 2px solid black;
}
ol, ul {
    list-style: auto;
}
#facts-box {
    display: flex;
    align-items: center;

    width: auto;
}