header h1{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: center;
}
nav li{
    display: inline;
    font-size: 25px;
    padding: 20px;
}
/* main-page*/

.display-the-fact {
    padding: 12px;
}
#fun-fact-btn {
    position: relative;
    left: 40%;
}

.pet-box-size {
    max-width: 400px;
    max-height: 400px;
    justify-self: center;
}
.pet-container {
    /* border: solid 2px limegreen; */
    max-width: 405px;
    max-height: 405px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    /* background-image: linear-gradient(45deg, rgba(128, 224, 125, 0.473),rgba(0, 128, 0, 0.384), rgba(136, 197, 144, 0.336)); */
}


/* modal CSS */

.modal {
    bottom: 120px;
    display: none;
    position: fixed;
    z-index: 1; /* sit on top */

    width: auto;

    height: auto;
    padding: 50px;
    margin-left: 33%;
    margin-right: 33%;
    background-color: rgb(212 251 170);
}

#close {
    position: relative;
    top: -40px;
    right: -20px;
    color: black;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: green;
    text-decoration: none;
    cursor: pointer;
}

#generate {
    background-color: rgb(176, 207, 236);
    padding: 5px;
    border: 2px solid black;
}
ol, ul {
    list-style: auto;
}
ol {
    display: block;
}
#facts-box {

    position: relative;
    
}   
.display-funfact-box {
    display: block;
    text-align: center;
}
#animal_type {
    display: block;
    border: 1px solid;
    background: linear-gradient(45deg,palegreen, rgba(101, 187, 101, 0.87), white);
    margin: auto;
}
small {
    background: linear-gradient(45deg,white ,palegreen, rgb(105, 194, 105), white);
    
}
#num_facts {
    display: block;
    border: 1px solid;
    background: linear-gradient(45deg,palegreen, rgba(101, 187, 101, 0.87), white);
    margin: auto;
}
#fun-fact-form {
    border: solid 2px #835d1994;
    padding: 5px;
    margin-bottom: 15px;
}
.display-animal-fact {
    
}
.modal-content {
    height: fit-content;
    text-align: justify;
/*     display: flex;
    align-items: center;

    width: auto; */
}
.picture-container {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    align-items: center;
    max-width: 80%;
}
.picture-btn {
    background: linear-gradient(90deg,palegreen, rgba(101, 187, 101, 0.87), white);
    margin-top: 50px;
    padding: 25px;
    font-weight: 1000;
    font-size: larger;
    border: palegreen solid 2px;
}
#display {
    align-items: center;
    display: block;
}
img {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}